.MovieInfo{
    position: "fixed";
    left: "50%";
    top: "48%";
    transform: "translate(-50%, -50%)";
    background-color:"black";
    color:"white";
    max-height:"100%";
    padding: "25px";
    float: "top";
    font-family: "cursive"
}

.h2{
    color: "red";
    text-Align: "center"
}

.h3 {
    color: "whitesmoke";
    text-Align: "center"
}

.h3 {
    color: "red";
    text-Align: "center"
}      
                
.li {
    font-size: "15px";
    color: "white"
}